.certifications-section {
  padding: 100px 10%;
  background: #111827;
}

.certifications-header {
  text-align: center;
  margin-bottom: 70px;
}

.cert-tag {
  display: inline-block;

  padding: 12px 24px;

  border-radius: 40px;

  background: rgba(56,189,248,.12);

  border: 1px solid rgba(56,189,248,.2);
 color: #94a3b8;
  margin-bottom: 20px;
   font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.certifications-header h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #38bdf8;
}

.certifications-header h2 span {
  color: #38bdf8;
}

.certifications-header p {
  max-width: 700px;
  margin: auto;
  color: #94a3b8;
  line-height: 1.8;
}

.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.cert-card {
  background: rgba(255,255,255,.04);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 18px;

  padding: 30px;

  text-align: center;

  transition: .35s ease;
}

.cert-card:hover {
  transform: translateY(-10px);

  border-color: #38bdf8;

  box-shadow:
    0 15px 35px rgba(56,189,248,.12);
}

.cert-icon {
  width: 70px;
  height: 70px;

  margin: auto;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  background: rgba(56,189,248,.12);

  color: #38bdf8;

  font-size: 2rem;
}

.cert-card h3 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.cert-card p {
  color: #94a3b8;
  margin-bottom: 15px;
}

.cert-card span {
  display: inline-block;

  padding: 8px 16px;

  border-radius: 20px;

  background: rgba(56,189,248,.12);

  color: #38bdf8;

  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .certifications-header h2 {
    font-size: 2.3rem;
  }
}